################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ANSws/ErrorHandling/log/ProgramLog-20160608.txt
/ANSws/ErrorHandling/log/ProgramLog-20160611.txt
